name: coldchain-visibility-platform

services:
  web:
    container_name: coldchain-visibility-platform-web
    image: ghcr.io/lynbean/coldchain-visibility-platform/web:latest
    build:
      context: web
      dockerfile: Dockerfile.prod

    depends_on:
      core:
        condition: service_healthy
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "--no-verbose",
          "--tries=1",
          "--spider",
          "http://127.0.0.1:3000",
        ]
      timeout: 20s
      interval: 20s
      retries: 2
    networks:
      - coldchain-visibility-platform
    ports:
      - 3000:3000
    restart: always

  core:
    container_name: coldchain-visibility-platform-core
    image: ghcr.io/lynbean/coldchain-visibility-platform/core:latest
    build:
      context: core
      dockerfile: Dockerfile.prod

    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "--no-versbose",
          "--tries=1",
          "http://127.0.0.1:5000/health",
        ]
      timeout: 20s
      interval: 20s
      retries: 2
    networks:
      - coldchain-visibility-platform
    ports:
      - 5000:5000
    restart: always
    environment:
      WEB_URL:
      SUPABASE_URL:
      SUPABASE_SERVICE_ROLE_KEY:
      SUPABASE_DB_URL:

networks:
  coldchain-visibility-platform:
