name: coldchain-visibility-platform

services:
  web:
    container_name: coldchain-visibility-platform-web
    image: ghcr.io/lynbean/coldchain-visibility-platform/web:latest
    build:
      context: web
      dockerfile: Dockerfile.dev
    develop:
      watch:
        - path: web
          target: /app
          action: sync
        - path: web/package.json
          target: /app/package.json
          action: sync+restart

    networks:
      - supabase_network_coldchain-visibility-platform
    ports:
      - 3000:3000
    restart: unless-stopped

  api:
    container_name: coldchain-visibility-platform-api
    image: ghcr.io/lynbean/coldchain-visibility-platform/api:latest
    build:
      context: api
      dockerfile: Dockerfile.dev
    develop:
      watch:
        - path: api
          target: /app
          action: sync
        - path: api/uv.lock
          target: /app/uv.lock
          action: sync+restart

    networks:
      - supabase_network_coldchain-visibility-platform
    ports:
      - 5000:5000
      - 5678:5678
    restart: unless-stopped
    environment:
      WEB_URL: https://127.0.0.1:3000
      SUPABASE_URL: http://supabase_kong_coldchain-visibility-platform:8000
      SUPABASE_SECRET_KEY: sb_secret_N7UND0UgjKTVK-Uodkm0Hg_xSvEMPvz
      SUPABASE_DB_URL: postgresql://postgres:postgres@supabase_db_coldchain-visibility-platform:5432/postgres
      MQTT_BROKER_HOST: mosquitto
      MQTT_BROKER_PORT: 1883
      REDIS_URL: redis://redis:6379

  mosquitto:
    container_name: coldchain-visibility-platform-mosquitto
    image: ghcr.io/lynbean/coldchain-visibility-platform/mosquitto:latest
    build:
      context: mosquitto
      dockerfile: Dockerfile
    develop:
      watch:
        - path: mosquitto/mosquitto.conf
          target: /mosquitto/config/mosquitto.conf
          action: sync+restart

    networks:
      - supabase_network_coldchain-visibility-platform
    ports:
      - 58012:1883
      - 58013:9001
    restart: unless-stopped

  redis:
    container_name: coldchain-visibility-platform-redis
    image: redis:8
    networks:
      - supabase_network_coldchain-visibility-platform
    restart: unless-stopped

networks:
  supabase_network_coldchain-visibility-platform:
    external: true
