name: coldchain-visibility-platform

services:
  web:
    container_name: coldchain-visibility-platform-web
    image: ghcr.io/lynbean/coldchain-visibility-platform/web:${DOCKER_IMAGE_TAG:-latest}
    build:
      context: web
      dockerfile: Dockerfile.prod

    depends_on:
      api:
        condition: service_healthy
    healthcheck:
      test:
        ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://127.0.0.1:3000"]
      timeout: 20s
      interval: 20s
      retries: 2
    networks:
      - coldchain-visibility-platform
    ports:
      - 58010:3000
    restart: always

  api:
    container_name: coldchain-visibility-platform-api
    image: ghcr.io/lynbean/coldchain-visibility-platform/api:${DOCKER_IMAGE_TAG:-latest}
    build:
      context: api
      dockerfile: Dockerfile.prod

    depends_on:
      mosquitto:
        condition: service_started
      redis:
        condition: service_started
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "http://127.0.0.1:5000/health"]
      timeout: 20s
      interval: 20s
      retries: 2
    networks:
      - coldchain-visibility-platform
    ports:
      - 58011:5000
    restart: always
    environment:
      WEB_URL: ${WEB_URL}
      SUPABASE_URL: https://${SUPABASE_PROJECT_ID}.supabase.co
      SUPABASE_SECRET_KEY: ${SUPABASE_SECRET_KEY}
      SUPABASE_DB_URL: postgresql://postgres.${SUPABASE_PROJECT_ID}:${SUPABASE_DB_PASSWORD}@aws-1-ap-southeast-1.pooler.supabase.com:5432/postgres
      MQTT_BROKER_HOST: mosquitto
      MQTT_BROKER_PORT: 1883
      REDIS_URL: redis://redis:6379

  mosquitto:
    container_name: coldchain-visibility-platform-mosquitto
    image: ghcr.io/lynbean/coldchain-visibility-platform/mosquitto:${DOCKER_IMAGE_TAG:-latest}
    build:
      context: mosquitto
      dockerfile: Dockerfile
    networks:
      - coldchain-visibility-platform
    ports:
      - 58012:1883
      - 58013:9001
    restart: always

  redis:
    container_name: coldchain-visibility-platform-redis
    image: redis:8
    networks:
      - coldchain-visibility-platform
    restart: always

networks:
  coldchain-visibility-platform:
