@layer theme, base, mui, components, utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --colors-black: 0deg 0% 0%;

    --colors-gray-dark-100: 0deg 0% 8.6%;
    --colors-gray-dark-1000: 0deg 0% 49.4%;
    --colors-gray-dark-1100: 0deg 0% 62.7%;
    --colors-gray-dark-1200: 0deg 0% 92.9%;
    --colors-gray-dark-200: 0deg 0% 11%;
    --colors-gray-dark-300: 0deg 0% 13.7%;
    --colors-gray-dark-400: 0deg 0% 15.7%;
    --colors-gray-dark-500: 0deg 0% 18%;
    --colors-gray-dark-600: 0deg 0% 20.4%;
    --colors-gray-dark-700: 0deg 0% 24.3%;
    --colors-gray-dark-800: 0deg 0% 31.4%;
    --colors-gray-dark-900: 0deg 0% 43.9%;
    --colors-gray-dark-alpha-100: hsla(0, 0%, 0%, 0);
    --colors-gray-dark-alpha-1000: hsla(0, 0%, 100%, 0.45098039215686275);
    --colors-gray-dark-alpha-1100: hsla(0, 0%, 100%, 0.5882352941176471);
    --colors-gray-dark-alpha-1200: hsla(0, 0%, 100%, 0.9215686274509803);
    --colors-gray-dark-alpha-200: hsla(0, 0%, 100%, 0.03137254901960784);
    --colors-gray-dark-alpha-300: hsla(0, 0%, 100%, 0.058823529411764705);
    --colors-gray-dark-alpha-400: hsla(0, 0%, 100%, 0.0784313725490196);
    --colors-gray-dark-alpha-500: hsla(0, 0%, 100%, 0.10196078431372549);
    --colors-gray-dark-alpha-600: hsla(0, 0%, 100%, 0.12941176470588237);
    --colors-gray-dark-alpha-700: hsla(0, 0%, 100%, 0.16862745098039217);
    --colors-gray-dark-alpha-800: hsla(0, 0%, 100%, 0.25098039215686274);
    --colors-gray-dark-alpha-900: hsla(0, 0%, 100%, 0.38823529411764707);
    --colors-gray-light-100: 0deg 0% 98.8%;
    --colors-gray-light-1000: 0deg 0% 52.2%;
    --colors-gray-light-1100: 0deg 0% 43.5%;
    --colors-gray-light-1200: 0deg 0% 9%;
    --colors-gray-light-200: 0deg 0% 97.3%;
    --colors-gray-light-300: 0deg 0% 95.3%;
    --colors-gray-light-400: 0deg 0% 92.9%;
    --colors-gray-light-500: 0deg 0% 91%;
    --colors-gray-light-600: 0deg 0% 88.6%;
    --colors-gray-light-700: 0deg 0% 85.9%;
    --colors-gray-light-800: 0deg 0% 78%;
    --colors-gray-light-900: 0deg 0% 56.1%;
    --colors-gray-light-alpha-100: hsla(0, 0%, 0%, 0.011764705882352941);
    --colors-gray-light-alpha-1000: hsla(0, 0%, 0%, 0.47843137254901963);
    --colors-gray-light-alpha-1100: hsla(0, 0%, 0%, 0.5607843137254902);
    --colors-gray-light-alpha-1200: hsla(0, 0%, 0%, 0.9098039215686274);
    --colors-gray-light-alpha-200: hsla(0, 0%, 0%, 0.03137254901960784);
    --colors-gray-light-alpha-300: hsla(0, 0%, 0%, 0.050980392156862744);
    --colors-gray-light-alpha-400: hsla(0, 0%, 0%, 0.07058823529411765);
    --colors-gray-light-alpha-500: hsla(0, 0%, 0%, 0.09019607843137255);
    --colors-gray-light-alpha-600: hsla(0, 0%, 0%, 0.10980392156862745);
    --colors-gray-light-alpha-700: hsla(0, 0%, 0%, 0.1411764705882353);
    --colors-gray-light-alpha-800: hsla(0, 0%, 0%, 0.2196078431372549);
    --colors-gray-light-alpha-900: hsla(0, 0%, 0%, 0.4392156862745098);

    --colors-slate-dark-100: 200deg 6.7% 8.8%;
    --colors-slate-dark-1000: 207.7deg 5.1% 49.6%;
    --colors-slate-dark-1100: 207.3deg 5.8% 62.9%;
    --colors-slate-dark-1200: 210deg 5.6% 92.9%;
    --colors-slate-dark-200: 195deg 7.1% 11%;
    --colors-slate-dark-300: 192deg 7.2% 13.5%;
    --colors-slate-dark-400: 204deg 6.2% 15.9%;
    --colors-slate-dark-500: 200deg 6.5% 18%;
    --colors-slate-dark-600: 205.7deg 6.7% 20.6%;
    --colors-slate-dark-700: 202.5deg 6.5% 24.3%;
    --colors-slate-dark-800: 206.7deg 5.6% 31.6%;
    --colors-slate-dark-900: 205.7deg 6.3% 43.9%;
    --colors-slate-dark-alpha-100: hsla(0, 0%, 0%, 0);
    --colors-slate-dark-alpha-1000: hsla(210, 100%, 95.3%, 0.47058823529411764);
    --colors-slate-dark-alpha-1100: hsla(210, 100%, 96.9%, 0.6196078431372549);
    --colors-slate-dark-alpha-1200: hsla(210, 100%, 99.6%, 0.9294117647058824);
    --colors-slate-dark-alpha-200: hsla(181.39999999999998, 100%, 91.8%, 0.03137254901960784);
    --colors-slate-dark-alpha-300: hsla(181.60000000000002, 86.4%, 91.4%, 0.058823529411764705);
    --colors-slate-dark-alpha-400: hsla(208.89999999999998, 87.1%, 93.9%, 0.0784313725490196);
    --colors-slate-dark-alpha-500: hsla(200, 88.2%, 93.3%, 0.10980392156862745);
    --colors-slate-dark-alpha-600: hsla(209, 93.9%, 93.5%, 0.1411764705882353);
    --colors-slate-dark-alpha-700: hsla(203.20000000000005, 100%, 93.9%, 0.1803921568627451);
    --colors-slate-dark-alpha-800: hsla(208.79999999999995, 92.6%, 94.7%, 0.25882352941176473);
    --colors-slate-dark-alpha-900: hsla(208, 100%, 94.1%, 0.4117647058823529);
    --colors-slate-light-100: 210deg 33.3% 98.8%;
    --colors-slate-light-1000: 205.7deg 5.7% 52.2%;
    --colors-slate-light-1100: 205.7deg 6.3% 43.5%;
    --colors-slate-light-1200: 201.8deg 24.4% 8.8%;
    --colors-slate-light-200: 210deg 16.7% 97.6%;
    --colors-slate-light-300: 210deg 16.7% 95.3%;
    --colors-slate-light-400: 210deg 11.8% 93.3%;
    --colors-slate-light-500: 216deg 11.1% 91.2%;
    --colors-slate-light-600: 205.7deg 12.3% 88.8%;
    --colors-slate-light-700: 210deg 11.1% 85.9%;
    --colors-slate-light-800: 205deg 10.7% 78%;
    --colors-slate-light-900: 205.7deg 6.3% 56.1%;
    --colors-slate-light-alpha-100: hsla(209.79999999999995, 92.6%, 26.5%, 0.0196078431372549);
    --colors-slate-light-alpha-1000: hsla(204.39999999999998, 100%, 5.3%, 0.5098039215686274);
    --colors-slate-light-alpha-1100: hsla(205, 100%, 4.7%, 0.5882352941176471);
    --colors-slate-light-alpha-1200: hsla(200, 100%, 2.4%, 0.9294117647058824);
    --colors-slate-light-alpha-200: hsla(210, 87.8%, 16.1%, 0.03137254901960784);
    --colors-slate-light-alpha-300: hsla(209.60000000000002, 100%, 14.3%, 0.050980392156862744);
    --colors-slate-light-alpha-400: hsla(210.60000000000002, 93%, 11.2%, 0.0784313725490196);
    --colors-slate-light-alpha-500: hsla(215.29999999999995, 92.7%, 10.8%, 0.10196078431372549);
    --colors-slate-light-alpha-600: hsla(205.70000000000005, 96.6%, 11.4%, 0.12941176470588237);
    --colors-slate-light-alpha-700: hsla(209.39999999999998, 100%, 10%, 0.1607843137254902);
    --colors-slate-light-alpha-800: hsla(204.5, 96.1%, 10%, 0.23921568627450981);
    --colors-slate-light-alpha-900: hsla(206, 100%, 5.9%, 0.47058823529411764);

    --colors-white: 0deg 0% 100%;

    --borderradius-lg: 8px;
    --borderradius-sm: 4px;
    --borderradius-tableheader: 4px;
    --borderradius-xl: 16px;
    --borderradius-xs: 2px;

    --borderwidth-lg: 8px;
    --borderwidth-md: 4px;
    --borderwidth-none: 0;
    --borderwidth-sm: 2px;
    --borderwidth-xs: 1px;

    --content-width-screen-xl: 1128px;

    --datatable-headericon: 16px;
    --datatable-rowheight: 28px;

    --font-family-body: Inter;

    --icon-md: 18px;
    --icon-sm: 16px;
    --icon-xs: 12px;
    --iconwidth-default: 1px;

    --input-sm-height: 28px;

    --options-icon: 18px;

    --panel: 2px;
    --panel2: 4px;

    --sizing-lg: 13.5px;
    --sizing-md: 9px;
    --sizing-scale: 1.5px;
    --sizing-sm: 6px;
    --sizing-xl: 20.25px;
    --sizing-xs: 4px;

    --spacing-lg: 32px;
    --spacing-md: 16px;
    --spacing-scale: 2px;
    --spacing-sm: 8px;
    --spacing-xl: 64px;
    --spacing-xs: 4px;

    --variables-colors-brand-accent: 152.9deg 56.1% 46.5%;
    --variables-colors-brand-primary: 153.1deg 60.2% 52.7%;

    --xxl: 128px;

    --helpers-os-appearance: Light;

    --primary-link: 153.4deg 100% 36.7%;
    --primary-button: 151.8deg 47.1% 40.8%;
    --primary-default: 152.9deg 60% 52.9%;
    --primary-600: 156.5deg 86.5% 26.1%;
    --primary-500: 155.3deg 78.4% 40%;
    --primary-400: 151.3deg 66.9% 66.9%;
    --primary-300: 147.5deg 72% 80.4%;
    --primary-200: 147.6deg 72.5% 90%;

    --secondary-default: 247.8deg 100% 70%;
    --secondary-400: 248.3deg 54.5% 25.9%;
    --secondary-200: 248deg 53.6% 11%;

    --warning-default: 38.9deg 100% 57.1%;
    --warning-600: 30.3deg 80.3% 47.8%;
    --warning-500: 36.3deg 85.7% 67.1%;
    --warning-400: 41.9deg 100% 81.8%;
    --warning-300: 44.3deg 100% 91.8%;
    --warning-200: 40deg 81.8% 97.8%;

    --destructive-default: 10.2deg 77.9% 53.9%;
    --destructive-600: 9.9deg 82% 43.5%;
    --destructive-500: 10.4deg 77.1% 79.4%;
    --destructive-400: 7.1deg 91.3% 91%;
    --destructive-300: 7.1deg 100% 96.7%;
    --destructive-200: 0deg 100% 99.4%;

    --code-block-5: 14deg 80.4% 58%;
    --code-block-4: 276.3deg 60% 52.9%;
    --code-block-3: 83.8deg 61.6% 48%;
    --code-block-2: 33.1deg 80% 52.9%;
    --code-block-1: 170.6deg 43.2% 51%;

    --border-stronger: 0deg 0% 56.1%;
    --border-strong: 0deg 0% 83.1%;
    --border-default: 0deg 0% 87.5%;

    --border-button-hover: var(--colors-gray-light-700);
    --border-button-default: var(--colors-gray-light-600);
    --border-alternative: var(--colors-gray-light-500);
    --border-control: var(--colors-gray-light-800);
    --border-overlay: var(--colors-gray-light-500);
    --border-secondary: var(--colors-gray-light-400);
    --border-muted: var(--colors-gray-light-400);

    --background-dialog-default: 0deg 0% 100%;
    --background-muted: 0deg 0% 96.9%;
    --background-surface-400: 0deg 0% 89.8%;
    --background-surface-300: 0deg 0% 92.9%;
    --background-surface-200: 0deg 0% 95.3%;
    --background-surface-100: 0deg 0% 98.8%;
    --background-surface-75: 0deg 0% 100%;
    --background-alternative-default: 0deg 0% 99.2%;
    --background-alternative-200: 0deg 0% 100%;

    --background-dash-canvas: var(--colors-gray-light-200);
    --background-dash-sidebar: var(--colors-gray-light-100);
    --background-button-default: var(--colors-gray-light-100);
    --background-overlay-hover: var(--colors-gray-light-300);
    --background-overlay-default: var(--colors-gray-light-100);
    --background-control: var(--colors-gray-light-300);
    --background-selection: var(--colors-gray-light-400);
    --background-default: var(--colors-gray-light-100);
    --background-200: var(--colors-gray-light-200);

    --foreground-contrast: 0deg 0% 98.4%;
    --foreground-muted: 0deg 0% 69.8%;
    --foreground-lighter: 0deg 0% 43.9%;
    --foreground-light: 0deg 0% 32.2%;

    --foreground-default: var(--colors-gray-light-1200);
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --helpers-os-appearance: Dark;

      --primary-link: 155deg 100% 38.6%;
      --primary-button: 154.9deg 100% 19.2%;
      --primary-default: 153.1deg 60.2% 52.7%;
      --primary-600: 154.9deg 59.5% 70%;
      --primary-500: 154.9deg 100% 19.2%;
      --primary-400: 155.5deg 100% 9.6%;
      --primary-300: 155.1deg 100% 8%;
      --primary-200: 162deg 100% 2%;

      --secondary-default: 247.8deg 100% 70%;
      --secondary-400: 248.3deg 54.5% 25.9%;
      --secondary-200: 248deg 53.6% 11%;

      --warning-default: 38.9deg 100% 42.9%;
      --warning-600: 38.9deg 100% 42.9%;
      --warning-500: 34.8deg 90.9% 21.6%;
      --warning-400: 33.2deg 100% 14.5%;
      --warning-300: 32.3deg 100% 10.2%;
      --warning-200: 36.6deg 100% 8%;

      --destructive-default: 10.2deg 77.9% 53.9%;
      --destructive-600: 9.7deg 85.2% 62.9%;
      --destructive-500: 7.9deg 71.6% 29%;
      --destructive-400: 6.7deg 60% 20.6%;
      --destructive-300: 7.5deg 51.3% 15.3%;
      --destructive-200: 10.9deg 23.4% 9.2%;

      --code-block-5: 13.8deg 89.7% 69.6%;
      --code-block-4: 276.1deg 67.7% 74.5%;
      --code-block-3: 83.8deg 61.7% 63.1%;
      --code-block-2: 33.2deg 90.3% 75.7%;
      --code-block-1: 170.8deg 43.1% 61.4%;

      --border-stronger: 0deg 0% 27.1%;
      --border-strong: 0deg 0% 21.2%;
      --border-alternative: 0deg 0% 26.7%;
      --border-control: 0deg 0% 22.4%;
      --border-overlay: 0deg 0% 20%;
      --border-secondary: 0deg 0% 14.1%;
      --border-muted: 0deg 0% 14.1%;
      --border-default: 0deg 0% 18%;

      --border-button-hover: var(--colors-gray-dark-800);
      --border-button-default: var(--colors-gray-dark-700);

      --background-dash-canvas: 0deg 0% 7.1%;
      --background-dash-sidebar: 0deg 0% 9%;
      --background-dialog-default: 0deg 0% 7.1%;
      --background-muted: 0deg 0% 14.1%;
      --background-overlay-hover: 0deg 0% 18%;
      --background-overlay-default: 0deg 0% 14.1%;
      --background-surface-400: 0deg 0% 16.1%;
      --background-surface-300: 0deg 0% 16.1%;
      --background-surface-200: 0deg 0% 12.9%;
      --background-surface-100: 0deg 0% 12.2%;
      --background-surface-75: 0deg 0% 9%;
      --background-control: 0deg 0% 14.1%;
      --background-selection: 0deg 0% 19.2%;
      --background-alternative-default: 0deg 0% 5.9%;
      --background-default: 0deg 0% 7.1%;
      --background-200: 0deg 0% 9%;

      --background-button-default: var(--colors-gray-dark-500);
      --background-alternative-200: var(--colors-gray-dark-200);

      --foreground-contrast: 0deg 0% 8.6%;
      --foreground-muted: 0deg 0% 30.2%;
      --foreground-lighter: 0deg 0% 53.7%;
      --foreground-light: 0deg 0% 70.6%;
      --foreground-default: 0deg 0% 98%;
    }
  }
}

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@theme inline {
  /* Material UI typography */
  --font-h1: var(--mui-font-h1);
  --font-h2: var(--mui-font-h2);
  --font-h3: var(--mui-font-h3);
  --font-h4: var(--mui-font-h4);
  --font-h5: var(--mui-font-h5);
  --font-h6: var(--mui-font-h6);
  --font-subtitle1: var(--mui-font-subtitle1);
  --font-subtitle2: var(--mui-font-subtitle2);
  --font-body1: var(--mui-font-body1);
  --font-body2: var(--mui-font-body2);
  --font-button: var(--mui-font-button);
  --font-caption: var(--mui-font-caption);
  --font-overline: var(--mui-font-overline);

  --letter-spacing-h1: -0.01562em;
  --letter-spacing-h2: -0.00833em;
  --letter-spacing-h4: 0.00735em;
  --letter-spacing-h6: 0.0075em;
  --letter-spacing-body1: 0.00938em;
  --letter-spacing-body2: 0.01071em;

  /* Material UI breakpoints */
  --breakpoint-sm: 37.5rem; /* 600px */
  --breakpoint-md: 56.25rem; /* 900px */
  --breakpoint-lg: 75rem; /* 1200px */
  --breakpoint-xl: 96rem; /* 1536px */
  --breakpoint-2xl: 120rem; /* 1920px */

  /* Material UI theme colors */
  --color-primary: rgb(var(--mui-palette-primary-mainChannel));
  --color-primary-light: rgb(var(--mui-palette-primary-lightChannel));
  --color-primary-dark: rgb(var(--mui-palette-primary-darkChannel));
  --color-primary-contrast: rgb(var(--mui-palette-primary-contrastTextChannel));

  --color-secondary: rgb(var(--mui-palette-secondary-mainChannel));
  --color-secondary-light: rgb(var(--mui-palette-secondary-lightChannel));
  --color-secondary-dark: rgb(var(--mui-palette-secondary-darkChannel));
  --color-secondary-contrast: rgb(var(--mui-palette-secondary-contrastTextChannel));

  /* Material UI status colors */
  --color-info: rgb(var(--mui-palette-info-mainChannel));
  --color-info-light: rgb(var(--mui-palette-info-lightChannel));
  --color-info-dark: rgb(var(--mui-palette-info-darkChannel));
  --color-info-contrast: rgb(var(--mui-palette-info-contrastTextChannel));

  --color-error: rgb(var(--mui-palette-error-mainChannel));
  --color-error-light: rgb(var(--mui-palette-error-lightChannel));
  --color-error-dark: rgb(var(--mui-palette-error-darkChannel));
  --color-error-contrast: rgb(var(--mui-palette-error-contrastTextChannel));

  --color-success: rgb(var(--mui-palette-success-mainChannel));
  --color-success-light: rgb(var(--mui-palette-success-lightChannel));
  --color-success-dark: rgb(var(--mui-palette-success-darkChannel));
  --color-success-contrast: rgb(var(--mui-palette-success-contrastTextChannel));

  --color-warning: rgb(var(--mui-palette-warning-mainChannel));
  --color-warning-light: rgb(var(--mui-palette-warning-lightChannel));
  --color-warning-dark: rgb(var(--mui-palette-warning-darkChannel));
  --color-warning-contrast: rgb(var(--mui-palette-warning-contrastTextChannel));

  /* Material UI text & common colors */
  --color-text-primary: rgb(var(--mui-palette-text-primaryChannel));
  --color-text-secondary: rgb(var(--mui-palette-text-secondaryChannel));
  --color-text-disabled: var(--mui-palette-text-disabled);
  --color-common-background: var(--mui-palette-common-background);
  --color-common-onBackground: var(--mui-palette-common-onBackground);
  --color-divider: var(--mui-palette-divider);

  /* Material UI background colors */
  --color-background-default: var(--background);
  --color-background-paper: var(--background-selection);

  /* Material UI action colors */
  --color-action-active: var(--mui-palette-action-active);
  --color-action-hover: var(--mui-palette-action-hover);
  --color-action-selected: var(--mui-palette-action-selected);
  --color-action-disabled: var(--mui-palette-action-disabled);
  --color-action-focus: var(--mui-palette-action-focus);

  /* Material UI gray scale */
  --color-gray-50: var(--mui-palette-grey-50);
  --color-gray-100: var(--mui-palette-grey-100);
  --color-gray-200: var(--mui-palette-grey-200);
  --color-gray-300: var(--mui-palette-grey-300);
  --color-gray-400: var(--mui-palette-grey-400);
  --color-gray-500: var(--mui-palette-grey-500);
  --color-gray-600: var(--mui-palette-grey-600);
  --color-gray-700: var(--mui-palette-grey-700);
  --color-gray-800: var(--mui-palette-grey-800);
  --color-gray-900: var(--mui-palette-grey-900);
  --color-gray-A100: var(--mui-palette-grey-A100);
  --color-gray-A200: var(--mui-palette-grey-A200);
  --color-gray-A400: var(--mui-palette-grey-A400);
  --color-gray-A700: var(--mui-palette-grey-A700);

  /* Material UI Component Colors */
  /* Alert */
  --color-Alert-error: var(--mui-palette-Alert-errorColor);
  --color-Alert-info: var(--mui-palette-Alert-infoColor);
  --color-Alert-success: var(--mui-palette-Alert-successColor);
  --color-Alert-warning: var(--mui-palette-Alert-warningColor);
  --color-Alert-errorFilled: var(--mui-palette-Alert-errorFilledBg);
  --color-Alert-infoFilled: var(--mui-palette-Alert-infoFilledBg);
  --color-Alert-successFilled: var(--mui-palette-Alert-successFilledBg);
  --color-Alert-warningFilled: var(--mui-palette-Alert-warningFilledBg);
  --color-Alert-errorFilledColor: var(--mui-palette-Alert-errorFilledColor);
  --color-Alert-infoFilledColor: var(--mui-palette-Alert-infoFilledColor);
  --color-Alert-successFilledColor: var(--mui-palette-Alert-successFilledColor);
  --color-Alert-warningFilledColor: var(--mui-palette-Alert-warningFilledColor);
  --color-Alert-errorStandard: var(--mui-palette-Alert-errorStandardBg);
  --color-Alert-infoStandard: var(--mui-palette-Alert-infoStandardBg);
  --color-Alert-successStandard: var(--mui-palette-Alert-successStandardBg);
  --color-Alert-warningStandard: var(--mui-palette-Alert-warningStandardBg);
  --color-Alert-errorIcon: var(--mui-palette-Alert-errorIconColor);
  --color-Alert-infoIcon: var(--mui-palette-Alert-infoIconColor);
  --color-Alert-successIcon: var(--mui-palette-Alert-successIconColor);
  --color-Alert-warningIcon: var(--mui-palette-Alert-warningIconColor);

  /* AppBar */
  --color-AppBar-default: var(--mui-palette-AppBar-defaultBg);

  /* Avatar */
  --color-Avatar-default: var(--mui-palette-Avatar-defaultBg);

  /* Button */
  --color-Button-inheritContained: var(--mui-palette-Button-inheritContainedBg);
  --color-Button-inheritContainedHover: var(--mui-palette-Button-inheritContainedHoverBg);

  /* Chip */
  --color-Chip-defaultBorder: var(--mui-palette-Chip-defaultBorder);
  --color-Chip-defaultAvatar: var(--mui-palette-Chip-defaultAvatarColor);
  --color-Chip-defaultIcon: var(--mui-palette-Chip-defaultIconColor);

  /* FilledInput */
  --color-FilledInput-bg: var(--mui-palette-FilledInput-bg);
  --color-FilledInput-hover: var(--mui-palette-FilledInput-hoverBg);
  --color-FilledInput-disabled: var(--mui-palette-FilledInput-disabledBg);

  /* LinearProgress */
  --color-LinearProgress-primary: var(--mui-palette-LinearProgress-primaryBg);
  --color-LinearProgress-secondary: var(--mui-palette-LinearProgress-secondaryBg);
  --color-LinearProgress-error: var(--mui-palette-LinearProgress-errorBg);
  --color-LinearProgress-info: var(--mui-palette-LinearProgress-infoBg);
  --color-LinearProgress-success: var(--mui-palette-LinearProgress-successBg);
  --color-LinearProgress-warning: var(--mui-palette-LinearProgress-warningBg);

  /* Skeleton */
  --color-Skeleton-bg: var(--mui-palette-Skeleton-bg);

  /* Slider */
  --color-Slider-primary: var(--mui-palette-Slider-primaryTrack);
  --color-Slider-secondary: var(--mui-palette-Slider-secondaryTrack);
  --color-Slider-error: var(--mui-palette-Slider-errorTrack);
  --color-Slider-info: var(--mui-palette-Slider-infoTrack);
  --color-Slider-success: var(--mui-palette-Slider-successTrack);
  --color-Slider-warning: var(--mui-palette-Slider-warningTrack);

  /* SnackbarContent */
  --color-SnackbarContent-bg: var(--mui-palette-SnackbarContent-bg);
  --color-SnackbarContent-text: var(--mui-palette-SnackbarContent-color);

  /* SpeedDialAction */
  --color-SpeedDialAction-fabHover: var(--mui-palette-SpeedDialAction-fabHoverBg);

  /* StepConnector & StepContent */
  --color-StepConnector-border: var(--mui-palette-StepConnector-border);
  --color-StepContent-border: var(--mui-palette-StepContent-border);

  /* Switch */
  --color-Switch-default: var(--mui-palette-Switch-defaultColor);
  --color-Switch-defaultDisabled: var(--mui-palette-Switch-defaultDisabledColor);
  --color-Switch-primaryDisabled: var(--mui-palette-Switch-primaryDisabledColor);
  --color-Switch-secondaryDisabled: var(--mui-palette-Switch-secondaryDisabledColor);
  --color-Switch-errorDisabled: var(--mui-palette-Switch-errorDisabledColor);
  --color-Switch-infoDisabled: var(--mui-palette-Switch-infoDisabledColor);
  --color-Switch-successDisabled: var(--mui-palette-Switch-successDisabledColor);
  --color-Switch-warningDisabled: var(--mui-palette-Switch-warningDisabledColor);

  /* TableCell */
  --color-TableCell-border: var(--mui-palette-TableCell-border);

  /* Tooltip */
  --color-Tooltip-bg: var(--mui-palette-Tooltip-bg);

  /* Material UI shadows */
  --shadow-1: var(--mui-shadows-1);
  --shadow-2: var(--mui-shadows-2);
  --shadow-3: var(--mui-shadows-3);
  --shadow-4: var(--mui-shadows-4);
  --shadow-5: var(--mui-shadows-5);
  --shadow-6: var(--mui-shadows-6);
  --shadow-7: var(--mui-shadows-7);
  --shadow-8: var(--mui-shadows-8);
  --shadow-9: var(--mui-shadows-9);
  --shadow-10: var(--mui-shadows-10);
  --shadow-11: var(--mui-shadows-11);
  --shadow-12: var(--mui-shadows-12);
  --shadow-13: var(--mui-shadows-13);
  --shadow-14: var(--mui-shadows-14);
  --shadow-15: var(--mui-shadows-15);
  --shadow-16: var(--mui-shadows-16);
  --shadow-17: var(--mui-shadows-17);
  --shadow-18: var(--mui-shadows-18);
  --shadow-19: var(--mui-shadows-19);
  --shadow-20: var(--mui-shadows-20);
  --shadow-21: var(--mui-shadows-21);
  --shadow-22: var(--mui-shadows-22);
  --shadow-23: var(--mui-shadows-23);
  --shadow-24: var(--mui-shadows-24);

  /* Material UI opacity */
  --opacity-activated: calc(100% * var(--mui-palette-action-activatedOpacity));
  --opacity-disabled: calc(100% * var(--mui-palette-action-disabledOpacity));
  --opacity-focus: calc(100% * var(--mui-palette-action-focusOpacity));
  --opacity-hover: calc(100% * var(--mui-palette-action-hoverOpacity));
  --opacity-selected: calc(100% * var(--mui-palette-action-selectedOpacity));

  /* Material UI overlays */
  --overlay-1: var(--mui-overlays-1);
  --overlay-2: var(--mui-overlays-2);
  --overlay-3: var(--mui-overlays-3);
  --overlay-4: var(--mui-overlays-4);
  --overlay-5: var(--mui-overlays-5);
  --overlay-6: var(--mui-overlays-6);
  --overlay-7: var(--mui-overlays-7);
  --overlay-8: var(--mui-overlays-8);
  --overlay-9: var(--mui-overlays-9);
  --overlay-10: var(--mui-overlays-10);
  --overlay-11: var(--mui-overlays-11);
  --overlay-12: var(--mui-overlays-12);
  --overlay-13: var(--mui-overlays-13);
  --overlay-14: var(--mui-overlays-14);
  --overlay-15: var(--mui-overlays-15);
  --overlay-16: var(--mui-overlays-16);
  --overlay-17: var(--mui-overlays-17);
  --overlay-18: var(--mui-overlays-18);
  --overlay-19: var(--mui-overlays-19);
  --overlay-20: var(--mui-overlays-20);
  --overlay-21: var(--mui-overlays-21);
  --overlay-22: var(--mui-overlays-22);
  --overlay-23: var(--mui-overlays-23);
  --overlay-24: var(--mui-overlays-24);
}

@font-face {
  font-family: "Circular";
  src: url("/fonts/Circular/Circular-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Circular";
  src: url("/fonts/Circular/Circular-LightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Circular";
  src: url("/fonts/Circular/Circular-Book.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Circular";
  src: url("/fonts/Circular/Circular-BookItalic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Circular";
  src: url("/fonts/Circular/Circular-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Circular";
  src: url("/fonts/Circular/Circular-MediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Circular";
  src: url("/fonts/Circular/Circular-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Circular";
  src: url("/fonts/Circular/Circular-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Circular";
  src: url("/fonts/Circular/Circular-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Circular";
  src: url("/fonts/Circular/Circular-BlackItalic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

/* Material UI base styles */
@layer base {
  h1 {
    font: var(--mui-font-h1);
    font-family: "Circular", "Helvetica Neue", "Helvetica";
    font-size: 72px;
    font-weight: 400;
  }
  h2 {
    font: var(--mui-font-h2);
    font-family: "Circular", "Helvetica Neue", "Helvetica";
    font-size: 36px;
    font-weight: 400;
  }
  h3 {
    font: var(--mui-font-h3);
    font-family: "Circular", "Helvetica Neue", "Helvetica";
    font-size: 24px;
    font-weight: 400;
  }
  h4 {
    font: var(--mui-font-h4);
    font-family: "Circular", "Helvetica Neue", "Helvetica";
    font-size: 18px;
    font-weight: 400;
  }
  h5 {
    font: var(--mui-font-h5);
    font-family: "Circular", "Helvetica Neue", "Helvetica";
    font-size: 14px;
    font-weight: 400;
  }
  h6 {
    font: var(--mui-font-h6);
    font-family: "Circular", "Helvetica Neue", "Helvetica";
    font-weight: 400;
    font-size: 12px;
  }
  p {
    font: var(--mui-font-body1);
  }
  span {
    font: var(--mui-font-body2);
  }
}

/* Material UI typography utilities */
@utility typography-* {
  font: --value(--font-*);
}

/* Material UI overlay utilities */
@utility overlay-* {
  background-image: --value(--overlay-*);
}

/* Material UI elevation utilities */
@utility elevation-* {
  background-image: --value(--overlay-*);
  box-shadow: --value(--shadow-*);
}
