name: Production Test

on: workflow_call

jobs:
  ensure-health:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.DOCKER_PAT }}

      - uses: docker/setup-compose-action@v1

      - name: Spin-up servers
        env:
          DOCKER_IMAGE_TAG: ${{ github.ref_name }}
          SUPABASE_DB_PASSWORD: ${{ secrets.SUPABASE_DB_PASSWORD }}
          SUPABASE_PROJECT_ID: ${{ vars.SUPABASE_PROJECT_ID }}
          SUPABASE_SECRET_KEY: ${{ secrets.SUPABASE_SECRET_KEY }}
          WEB_URL: ${{ vars.WEB_URL }}
        run: |
          docker compose -f docker-compose.prod.yml pull
          docker compose -f docker-compose.prod.yml up -d
          for i in {1..100}; do
              WEB_CONTAINER_ID=$(docker compose -f docker-compose.prod.yml ps -q web)
              API_CONTAINER_ID=$(docker compose -f docker-compose.prod.yml ps -q api)

              WEB_STATUS="$(docker inspect --format='{{.State.Health.Status}}' "$WEB_CONTAINER_ID")"
              API_STATUS="$(docker inspect --format='{{.State.Health.Status}}' "$API_CONTAINER_ID")"

              echo "--- Logs (attempt $i) (web:$WEB_STATUS) ---"
              docker logs --tail 10 "$WEB_CONTAINER_ID"

              echo "--- Logs (attempt $i) (api:$API_STATUS) ---"
              docker logs --tail 10 "$API_CONTAINER_ID"

              if [ "$WEB_STATUS" = "healthy" ] && [ "$API_STATUS" = "healthy" ]; then
                exit 0
              fi

              sleep 5
          done
          exit 1

  ensure-migration-generated:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: supabase/setup-cli@v1
        with:
          version: latest

      - name: Check for uncommitted migration changes
        run: |
          supabase db start
          supabase db diff -f schema.diff
          git add .
          if git diff --exit-code --name-only --staged ./supabase/migrations | grep .; then
              git --no-pager diff --staged ./supabase/migrations
              exit 1
          fi

  ensure-schema-diff:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: supabase/setup-cli@v1
        with:
          version: latest

      - name: Check schema diff against production
        env:
          SUPABASE_ACCESS_TOKEN: ${{ secrets.SUPABASE_ACCESS_TOKEN }}
          SUPABASE_DB_PASSWORD: ${{ secrets.SUPABASE_DB_PASSWORD }}
          SUPABASE_PROJECT_ID: ${{ vars.SUPABASE_PROJECT_ID }}
        run: |
          supabase link --project-ref $SUPABASE_PROJECT_ID
          supabase db diff --linked --schema public

  ensure-format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - uses: astral-sh/setup-uv@v6

      - run: npm run dev:install

      - name: Check formatting
        run: |
          npm run format
          git add .
          if git diff --exit-code --name-only --staged | grep .; then
            echo "Formatting issues detected:"
            git --no-pager diff --staged
            exit 1
          fi
