name: Production Test

on: workflow_call

jobs:
  ensure-health:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ GITHUB.repository_owner }}
          password: ${{ vars.DOCKER_PAT }}

      - uses: docker/setup-compose-action@v1

      - name: Spin-up servers
        run: |
          docker compose -f docker-compose.prod.yml pull
          docker compose -f docker-compose.prod.yml up -d
          for i in {1..100}; do
              WEB_CONTAINER_ID=$(docker compose -f docker-compose.prod.yml ps -q web)
              CORE_CONTAINER_ID=$(docker compose -f docker-compose.prod.yml ps -q core)

              WEB_STATUS="$(docker inspect --format='{{.State.Health.Status}}' "$WEB_CONTAINER_ID")"
              CORE_STATUS="$(docker inspect --format='{{.State.Health.Status}}' "$CORE_CONTAINER_ID")"

              echo "--- Logs (attempt $i) (web:$WEB_STATUS) ---"
              docker logs --tail 10 "$WEB_CONTAINER_ID"

              echo "--- Logs (attempt $i) (core:$CORE_STATUS) ---"
              docker logs --tail 10 "$CORE_CONTAINER_ID"

              if [ "$WEB_STATUS" = "healthy" ] && [ "$CORE_STATUS" = "healthy" ]; then
                exit 0
              fi

              sleep 2
          done
          exit 1

  ensure-migration-generated:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: supabase/setup-cli@v1
        with:
          version: latest

      - name: Check for uncommitted migration changes
        run: |
          supabase db start
          supabase db diff -f schema.diff
          git add .
          if git diff --exit-code --name-only --staged ./supabase/migrations | grep .; then
              git --no-pager diff --staged ./supabase/migrations
              exit 1
          fi

  ensure-schema-diff:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: supabase/setup-cli@v1
        with:
          version: latest

      - name: Check schema diff against production
        env:
          SUPABASE_ACCESS_TOKEN: ${{ vars.SUPABASE_ACCESS_TOKEN }}
          SUPABASE_DB_PASSWORD: ${{ vars.SUPABASE_DB_PASSWORD }}
          SUPABASE_PROJECT_ID: ${{ vars.SUPABASE_PROJECT_ID }}
        run: |
          supabase link --project-ref $SUPABASE_PROJECT_ID
          supabase db diff --linked --schema public
